:root {
    --background-color: rgb(255, 255, 255);
    --text-color: #2a3131;
    --emphasis-color: #2d3737;
    --border-color: #e1e7e8;
    --accent-color: #80888a;
    --link-color: #2980b9;
    --sublink-color: #491b8d;

    --document-horizontal-margin: 80px;
    --main-content-margin: 0 auto;
    --main-content-max-width: 800px;
    --nav-width: 180px;
    --vertical-padding: 40px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(22, 22, 23);
        --text-color: #8a8a8b;
        --emphasis-color: #aaaaab;
        --border-color: rgb(40, 40, 41);
        --accent-color: rgb(80, 80, 81);
        --link-color: #2980b9;
        --sublink-color: #74559c;
    }
}

@media (max-width: 1200px) {
    :root {
        --main-content-margin: 0 0 0 var(--nav-width);
    }
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    height: 100%;
}

/* Structure */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin: var(--main-content-margin);
    max-width: var(--main-content-max-width);
}

.content .article {
    margin-bottom: var(--document-horizontal-margin);
    margin-left: var(--vertical-padding);
    margin-right: var(--vertical-padding);
    margin-top: var(--document-horizontal-margin);
}

/* Text formatting */

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -0.025rem;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
    color: var(--emphasis-color);
}

h2 {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--emphasis-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h2::before,
h3::before {
    background-color: var(--color-background);
    color: var(--accent-color);
    content: ">";
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: -2rem;
    padding-right: 0.5rem;
    text-align: right;
    width: 1.5rem;
}

.backset {
    color: var(--accent-color)
}

.main-content h1:first-of-type {
    margin-top: 0;
}

h2 + h3 {
    margin-top: 1.5rem;
}

a,
a:link,
a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active,
a:focus {
    text-decoration: underline;
    outline: none !important;
}

/* Default Image Canvas display */
.img {
    min-width: 30%;
    max-width: 50%;
    float: right;
}

/* Navbox settings */

.nav {
    box-sizing: border-box;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: var(--document-horizontal-margin) 0;
    padding-left: var(--vertical-padding);
    position: fixed;
    top: 0;
    width: var(--nav-width);
}

.nav a {
    color: var(--text-color);
    display: flex;
    font-size: 1rem;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
}

.nav a .shortcut {
    align-self: center;
    color: var(--accent-color);
    display: inline-block;
    font-size: 0.6875rem;
    font-weight: normal;
    margin-left: auto;
    text-align: right;
}

.nav nav {
    padding: 0;
}

.nav nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav nav li.active {
    font-weight: bolder;
}

/* Styling for TOC on right page side */
.page-toc {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: var(--vertical-padding);
    position: fixed;
    right: 0;
    top: 0;
    width: var(--nav-width);
}

@media (max-width: 1200px) {
    .page-toc {
        display: none;
    }
}

@media (max-width: 978px) {
    .main-content {
      margin: 0;
    }
    .nav {
      height: initial;
      position: initial;
    }
    .main-nav nav {
      padding: 0;
    }
  }

.page-toc ul {
    list-style: none;
    margin: 0;
    padding: var(--document-horizontal-margin) 0;
}

.page-toc a {
    color: var(--sublink-color);
    display: flex;
    font-size: 0.9rem;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 15px;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: bold;
}

.page-toc a:hover {
    text-decoration: none;
}

/* Toc markers are used as anchors since sticky headers interfere with scrollto when scrolling up. */

.page-toc-scroll-marker {
    display: block;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 1px;
}

/* Footer settings */

.footer {
    padding: 1rem;
}

.aref {
    box-sizing: border-box;
    position: static;
    display: flex;
}
.icon {
    width: 48px;
    padding: 2px;
}
.list-style-none {
    list-style: none;
    display: flex;
    line-height: 48px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin: auto;
}
.line-grid {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-direction: row !important;
    align-items: center !important;
    position: relative;
}
.bot-row {
    color: darkgray;
    box-sizing: inherit;
}
